
.columna1 {
  margin-top: 60%;
}

.columna2 {
  margin-top: 10%;

  height: 80%;
  border-radius: 15px;
}

.general {
  background-color: #3962FF;
  margin-top: 7%;
  border-radius: 25px;
}

.delete {
  margin-left:50%;
  color: white;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  background-color: #414c53;
  border: none;
  display: inline;
}

.check{
  margin-right:30%;
  font-size: 14px;
  cursor: pointer;
   background-color: #414c53;
  border: none;
  display: inline;
}

.button {
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #00075C;
  background-color: #FFE59B;
  border: none;
  border-radius: 35px;
}

.button:hover {
  background-color: #E3CE7B;
}

.button:active {
  background-color: #E3CE7B;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

li.selected {
  background-color: #9de390;
  border-bottom: solid 1px #9de390;
}

h1 {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  color: #00075C;
  padding-left: 20%;
}

.title {
  background-color: #FFE59B;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 35px;
  margin-bottom: 5%;

}

ul {
  list-style-type: circle;
  height: 100%;
}

.lista {
  background-color: #F7F7E9;
  height: 80%;
  border-radius: 15px;
}
li {
  color: #414c53;
  font-size: 18px;
  border-bottom: solid #414c53 1px;
}
